@media (max-width: 640px) {
 
}
@media (max-width: 768px) {
  /* media queries for nav bar */
  .menuIcon-container {
    display: block !important;
  }
 .middle-links,.right-links {
   display: none;
 }

 /* mobile-menu queries */
 .mobile-menu {
   display: block !important;
   grid-template-columns: 1fr;
   grid-template-rows: 5rem 1fr;
   
 }

 /* queries for home screen */
 .home-grid {
   grid-template-columns: 1fr 37rem   !important;
 }
 .home-grid .item-selection-screen {
  padding: 2rem !important;
}
.home-grid .product-list {
 grid-template-columns: repeat(auto-fill, minmax(155px, 1fr));
}

/* queries for container */
.centered-grid {
  align-items: flex-start;
}
.container {
  width: 90% !important;
}

/* queries for forms */
.form-container {
  margin: 3rem auto !important;
}

.pin-screen {
  align-items: start !important;
  margin: 4rem auto !important;
}

/* queries for auth screens */
.auth-screen {
  align-items: flex-start !important;
  margin-top: 5rem !important;
}

}
@media (min-width:1024px) {
  
}
@media(min-width:1280px) {

}